@use "@styles/vars" as *;

@mixin mini-card {
  width: 100%;
  height: $card-size-small;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

@mixin mini-card--overview {
  padding: 0 2rem;
  border-radius: 10px;
  background-color: $text-input-field;
}

@mixin product-image {
  width: $card-size-small;
  height: $card-size-small;
  margin-right: 1.7rem;
  border-radius: 20px;
  overflow: hidden;
}

@mixin product-image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin product-text {
  font-size: $sm;
  font-weight: 400;
  color: $very-light-pink;
}

@mixin product-text-bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: $md;
  font-weight: bold;
  color: $dark;
  justify-self: flex-end; // pending
}

@mixin button {
  width: 100%;
  height: 5.9rem;
  border-radius: 10px;
  font-size: $lg;
  font-weight: bold;
  cursor: pointer;
}

@mixin button--primary {
  border: none;
  background-color: $hospital-green;
  color: $white;
}

@mixin button--secondary {
  border: 1px solid $hospital-green;
  background-color: $white;
  color: $hospital-green;
}

@mixin link-button {
  margin-bottom: 3rem;
  font-size: $sm;
  text-align: center;
  text-decoration: none;
  color: $hospital-green;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@mixin container {
  width: 100%;
  height: calc(100vh - 5.9rem);
  display: grid;
  place-items: center;
}

@mixin form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 37.5rem;
  padding: 1.8rem;

  @media (max-width: 425px) {
    width: 100vw;
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
}

@mixin form__label {
  margin-bottom: 0.6rem;
  font-size: $sm;
  font-weight: bold;
}

@mixin form__input {
  height: 4.2rem;
  margin-bottom: 2.4rem;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: $md;
  background-color: $text-input-field;

  &::placeholder {
    opacity: 0.4;
  }
}
