@use "./vars" as *;

.navbar {
  height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  box-shadow: 0px 2px 4px 0px #0000000c;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }

  .menu-icon {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .navbar__left {
    display: flex;

    .navbar__logo {
      width: 14.3rem;
    }

    .navbar__menu {
      display: flex;
      margin-left: 5rem;
      gap: 1rem;

      li {
        font-size: $md;
        font-weight: bold;
        list-style: none;
        padding: 0.5rem 1.5rem;

        &:hover {
          border-radius: 10px;
          color: $hospital-green;
          outline: 1px solid $hospital-green;
        }

        .navbar-link {
          color: $very-light-pink;
          text-decoration: none;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .navbar__right {
    display: flex;

    .navbar__user-account {
      display: flex;
      align-items: center;
      list-style: none;

      .user-account {
        a {
          color: $black;
          font-weight: 300;
          font-size: $sm;
          text-decoration: none;
          padding: 0.5rem 0;
          margin-right: 3rem;
          margin-left: 1rem;

          span {
            @media (min-width: 768px) and (max-width: 1100px) {
              display: none;
            }
          }

          .flechita {
            transform: rotate(90deg);
            margin-left: 1rem;
          }
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
