@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.login {
  @include container;

  .login-container {
    @include form-container;

    .logo {
      width: 15rem;
      margin-bottom: 4.8rem;
      justify-self: center;
      display: none;

      @media (max-width: 640px) {
        display: block;
      }
    }

    .form {
      @include form;

      .label {
        @include form__label;
      }

      .input {
        @include form__input;
      }

      .button {
        @include button;
      }

      .button--primary {
        @include button--primary;
        margin: 1.8rem 0 3rem;
      }
    }

    .link-button {
      @include link-button;
    }

    .button--secondary {
      @include button;
      @include button--secondary;
      margin-top: 3rem;
    }

    @media (max-width: 640px) {
      height: 100%;
    }
  }
}
