@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.menu-desktop {
  position: absolute;
  top: 5.4rem;
  right: 12.8rem;
  width: 15.3rem;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 5px 6px 0 #0000001f;
  padding: 1.8rem;
  background-color: $white;

  ul {
    li {
      list-style: none;
      margin-bottom: 3rem;
      text-align: right;

      &:last-child {
        margin-bottom: 0.6rem;
      }

      .link-button {
        @include link-button;
      }

      .link-button--bold {
        color: $black;
        font-size: $md;
        font-weight: bold;
      }

      .space-bar {
        background-color: $text-input-field;
        height: 1px;
      }
    }
  }
}
