@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.menu {
  position: fixed;
  top: 5.4rem;
  left: 0;
  height: calc(100vh - 5.4rem);
  width: 100%;
  padding: 3.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;

  .close-menu {
    height: 12px;
    width: 12px;
    position: absolute;
    right: 18px;
    top: 21px;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 3.7rem;

      .link-button {
        @include link-button;
      }

      .link-button--bold {
        font-size: $md;
        font-weight: bold;
        color: $black;
      }

      .space-bar {
        background-color: $text-input-field;
        height: 1px;
      }
    }
  }

  .menu__email {
    p {
      font-size: $sm;
      font-weight: 300;
      margin-bottom: 0.6rem;

      .link-button {
        @include link-button;
      }
    }
  }
}
