@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.my-account {
  @include container;

  &-container {
    @include form-container;

    .title {
      font-size: $lg;
      margin-bottom: 4.7rem;
      text-align: center;
      justify-self: left;
    }

    .form {
      @include form;

      .form__info {
        display: flex;
        flex-direction: column;

        .label {
          @include form__label;
        }

        .value {
          color: $very-light-pink;
          height: 4.2rem;
          font-size: $md;
          margin: 0.8rem 0 3.8rem 0;
        }
      }

      .button {
        @include button;
      }

      .button--secondary {
        @include button--secondary;
        margin: 1.1rem 0 3rem;

        @media (max-width: 640px) {
          margin-bottom: 0.4rem;
        }
      }

      @media (max-width: 640px) {
        height: 100%;
        justify-content: space-between;
      }
    }

    @media (max-width: 640px) {
      height: 100%;
    }
  }
}
