@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.my-order {
  @include container;

  .my-order-container {
    display: grid;
    grid-template-rows: auto;
    gap: 2.4rem;
    padding: 3rem 0;
    width: $width-container;

    h1 {
      margin-bottom: 2.3rem;

      @media (max-width: 640px) {
        display: none;
      }
    }

    @media (max-width: 425px) {
      width: 100vw;
    }
  }
}
