@use "./vars" as *;
@use "./mixins" as *;

.new-password {
  @include container;

  &-container {
    @include form-container;

    .logo {
      width: 15rem;
      margin-bottom: 4.8rem;
      justify-self: center;
      display: none;

      @media (max-width: 640px) {
        display: block;
      }
    }

    .title {
      font-size: $lg;
      margin-bottom: 0.9rem;
      text-align: center;
    }

    .subtitle {
      color: $dark;
      font-size: $lg;
      font-weight: 400;
      margin-bottom: 4.2rem;
      text-align: center;
    }

    .form {
      @include form;

      .label {
        @include form__label;
      }

      .input {
        @include form__input;
      }

      .button {
        @include button;
      }

      .button--primary {
        @include button--primary;
        margin: 1.1rem 0 3rem;
      }
    }
  }
}
