@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.product-details-container {
  display: grid;
  height: calc(100vh - 5.4rem);
  grid-template-rows: auto 1fr auto;
  width: $width-container;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 6px 0px #0000001f;

  .close-details {
    position: absolute;
    top: 17px;
    left: 12px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;

    @media (max-width: 500px) {
      display: none;
    }
  }

  .product-details__add-to-cart {
    padding: 2.2rem 3.4rem;

    .button {
      @include button;
    }

    .button--primary {
      @include button--primary;
    }
  }

  @media (max-width: 500px) {
    position: static;
    width: 100%;
    min-width: 32rem;
  }
}
