@use "@styles/vars" as *;
@use "@styles/mixins" as *;

.card {
  width: 100%;

  .product-image {
    border-radius: 20px;
    height: $card-size;
    width: $card-size;
    overflow: hidden;
    margin-bottom: 1.5rem;

    img {
      @include product-image__img;
    }

    @media (max-width: 640px) {
      height: 16.3rem;
      width: 16.3rem;
    }
  }

  .product-description {
    display: flex;
    justify-content: space-between;

    .product-info {
      .product-price {
        @include product-text-bold;
      }

      .product-name {
        @include product-text;
      }
    }
  }
}
