@use "@styles/_vars" as *;
@use "@styles/_mixins" as *;

.shopping-cart-container {
  position: absolute;
  top: 5.4rem;
  right: 0;
  width: $width-container-small;
  height: calc(100vh - 5.4rem);
  padding: 2rem 1.8rem 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: $white;
  box-shadow: 0px 0px 6px 0px #0000001f;

  .shopping-cart__items {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $very-light-pink;
      border-radius: 10px;
      visibility: hidden;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }

    h3 {
      position: sticky;
      top: 0;
      padding-bottom: 1.3rem;
      font-size: $lg;
      background-color: $white;
      box-shadow: 0px 0px 1px 0px #0000001f;

      img {
        transform: rotate(180deg);
        height: 1.4rem;
        margin: 0 2.4rem 0 0.8rem;
      }

      @media (max-width: 450px) {
        display: none;
      }
    }

    .mini-card {
      grid-template-columns: auto 1fr auto auto;
    }

    .mini-card--product > {
      img {
        padding-left: 1.3rem;
        padding-right: 1rem;
        height: 1.2rem;
        cursor: pointer;
      }
    }
  }

  .order-checkout {
    gap: 0;
  }

  @media (max-width: 450px) {
    width: 100%;
    padding: 2.4rem 0;
  }
}
